/* //navbar styling */
/* .bg-dark {
  background-color: #0e528c !important;
} */

/* //rules page css */
.rules-content {
  padding-top: 2%;
}
.rulesImage {
  object-fit: contain;
}
.rulesTitle {
  background-color: #0e528c;
  color: white;
}
